* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #777;
}


header {
  width: 100%;
  height: 40px;

  position: fixed;
  top: 0%;
  z-index: 4;
}

header.sticky {
  transition: 0.5s;
  background-color: white;
  box-shadow: 0 1px 5px 0px black;

}

header.sticky a {
  color: black;
}

header.sticky .search {
  color: black;
}


nav {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  list-style: none;
  width: 400px;
  height: 100%;
  padding: 0px;

  
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav-item {
  font-size: 14px;
  width: auto;
  height: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  background-color: #e0e0e0c4;
}

.nav-item a {
  text-align: center;
  text-decoration: none;
  color: white;

}

.search {
  width: 40px;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search:hover {
  background-color: orangered;
  color: white;
}

.fas {
  padding-right: 5px;
}

.detail-icon {
  font-size: 20px;
  padding-right: 10px;

}

.bg1, .bg2, .bg3 {
  width: 100%;
  height: 50vh;
  position: relative;
  object-fit: cover;
  z-index: -1;
}

.my-website {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  font-size: 1.6rem;
  font-weight: 400;
  background-color: #242424f8;
  padding: 5px;
  letter-spacing: 10px;
  color: #ffffff;

}

.content {
  height: 100vh;
  width: 65%;
  padding: 34px 16px;
  margin: auto;
  margin-bottom: 10px;
}

.heading {
  text-align: center;

}

.main-heading {
  font-size: 1.8rem;
  line-height: 48px;
  font-weight: 400;
  margin: 10px 0;
}

.sub-heading {
  text-align: center;
  padding: 10px 0;
}

.sub-heading, .description  {
  font-size: 15px;
  margin: 10px 0;

}

.img-and-description {
  margin: 30px 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.img-container {  
  flex: 1;
  padding: 0px;
  padding-top: 0;
  position: relative;
}

.img-container .my-name {
  font-weight: 500;  
  text-align: center;


}

.img-container .profile {
  width: 100%;
  opacity: 0.6;
}

.profile-text {
  flex: 1;
  padding: 30px;
  padding-top: 0;
  height: 380px; /* 380px  */
  font-size: 15px;
}

.content2 {
  width: 65%;
  margin: auto;
}

.content2 .skill {
  letter-spacing: 10px;
  font-weight: 450;
}

.bar-container {
  width: 100%;
  height: 30px;
  margin: 20px 0;
  background-color: #c9c9c963;
  border-radius: 5px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar-progress-50 {
  width: 50%;
  height: 100%;
  background-color: #5a5a5a;
}

.bar-num-50, .bar-num-80, .bar-num-30 {
  padding: 5px;
}

.bar-progress-80 {
  width: 80%;
  height: 100%;
  background-color: #5a5a5a;
}

.bar-progress-30 {
  width: 30%;
  height: 100%;
  background-color: #5a5a5a;
}

.top-black-bar {
  background-color: #292929f5;
  
  width: 100%;
  height: 15%;
}

.li-container {
  list-style: none;
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: space-between;

  color: #a1a1a1ef;
}

.li-container li {
  text-align: center;
}
/*
.bg2  {
  position: relative;
  height: 50vh;
  object-fit: cover;
  opacity: 0.9;
} */

.portfolio  {
  font-size: 3.1rem;
  font-weight: 300;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.work-container {

  width: 100%;
  height: 450px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row  {

  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .card {
  flex: 1;
  height: 100%;
  padding: 10px;
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7 {
  object-fit: cover;
  height: 100%;
}

.more {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 450;
  padding: 10px;
  border: none;
  background-color: #e9e9e9b4;
  color: balck;
}

.more:hover {
  background-color: rgb(194, 194, 194);
}

.content3 {
  height: 90vh;
  width: 65%;
  padding: 34px 16px;
  margin: auto;
  margin-bottom: 10px;
}


.location {
  padding: 34px 0 !important;
  margin: 16px 0 !important;
  width: 30%;
  float: left;
  
}

.pimbahal {
  border-radius: 5px;
  height: 150px;
  object-fit: cover;
}

.form-container {
  width: 70%;
  float: left;
  line-height: 33px;
  padding: 34px ;
  margin: 16px 0;
}

.form-container .detail {
  font-size: 18px;
  padding: 10px;
}

.text {
  padding: 10px;
}

.name-input, .email-input, .messege-input {
  width: 100%;
  padding: 5px;
}

.name ,.email, .messege {
  width: 100%;
  height: 45px;
  padding: 8px;
  border-radius: 0;
  border: 1px solid #9e9d9d;
}

button {
  border: none;
  border-radius: 0px;
}

.send-messege {
  float: right;
  margin: 5px;
  padding: 10px;
  width: 180px;
  background-color: black;
  color: white;
  font-weight: 450;
}

.send-messege:hover {
  background-color: #dfdfdfab;
  color: black;
}

footer {
  width: 100%;
  height: 30vh;
  background-color: cadetblue;
  color: white;
  padding: 20px;
  text-align: center;
}

footer .top {
  width: 120px;
  padding: 10px;
}

.top:hover {
  background-color: #dadadae7;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .social-links{
  margin: 20px 0;
}

.fab {
  color: white;
  padding: 1px;
  font-size: 20px;
}

.fab:hover {
  color: #dfdfdfdc;
}

.lastline {
  text-decoration: underline;
}

@media (max-width:680px) {
  .content {
    padding: 20px;
    width: 100vh;
    width: 100vw;
  }

  .content .description {
    font-size: 0.9rem;
  }

  .img-and-description {
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .img-container .my-name {
    font-size: 15px;
  }
}